
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>


      <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">List of Game of Thrones Characters</div>
    
                        
                          <table class="table">
                              <tr>
                                  <th>Character</th>
                                  <th>Real Name</th>
                              </tr>
                             
                                <tr>
                                  <td>{{ stageName }}</td><td>{{ realName }}</td>
                                </tr>
                              
                          </table>
                        
    
                </div>
    
          
                  <a href="/login" class="btn btn-info"> You need to login to see the list 😜😜 >></a>
                
    
            </div>
        </div>
    </div>
    
      </section>
</body>
</html>  


{{--  

{% extends 'master' %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">List of Game of Thrones Characters</div>

                    {% if currentUser %}
                      <!-- Table -->
                      <table class="table">
                          <tr>
                              <th>Character</th>
                              <th>Real Name</th>
                          </tr>
                          {% for stageName, realName in characters %}
                            <tr>
                              <td>{{ stageName }}</td><td>{{ realName }}</td>
                            </tr>
                          {% endfor %}
                      </table>
                    {% endif %}

            </div>

            {% if not currentUser %}
              <a href="/login" class="btn btn-info"> You need to login to see the list 😜😜 >></a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}



























  --}}

{{--  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>
</body>
</html>    --}}
